<a href="https://colab.research.google.com/github/KshitijPriyank/Python/blob/main/24_8_20_KSHITIJ_PROJECT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***ACTIVITY 1:-***

In [ ]:
#Activity 1: Print Even Numbers from 60 - 100
evennumber=60
while evennumber<100:
  print(evennumber)
  evennumber=evennumber+2
  #print(evennumber)
print('And these are your even numbers between 60 and 100! ')

60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
And these are your even numbers between 60 and 100!

***ACTIVITY 2:-***

In [ ]:
#Activity 2: Add Natural Numbers upto n
playerinput=input('enter between 10 to 20')
playerinput=int(playerinput)
while playerinput<10 or playerinput>20:
  print('enter a number between 10 and 20')
  playerinput=input('enter a number between 10 and 20')
count=1
variable=0
while count<=playerinput:
  variable=variable+count
  count=count+1
print(variable)

enter between 10 to 2012
78

***ACTIVITY 3:-***

In [ ]:
#Activity 3: Print Multiples of a Number
playerinput=input(' enter an number between 10 to 20 ')
num=int(playerinput)
while num<10 or num>20:
  print('enter a nuber between 10 and 20')
  num=input('enter a number between 10 and 20')
multiple=num
count=1
while count<=10:
  print(num)
  num=num+multiple
  count=count+1

 enter an number between 10 to 20 11
11
22
33
44
55
66
77
88
99
110

### Instructions

#### Goal of the Project

This project is designed for you to practice and solve the activities that are based on the concepts covered in the following lessons:

1. Variables and Data-types.

2. While Loop, Data-Type Conversion and Conditional Statements.

---

#### Getting Started:

1. Click on this link to open the Colab file for this project.

    https://colab.research.google.com/drive/1z_da3MR4F22ffPJQ2zx8Nhr0YaUVrokV?usp=sharing

2. Create a duplicate copy of the Colab file as described below.

  - Click on the **File menu**. A new drop-down list will appear.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/0_file_menu.png' width=500>

  - Click on the **Save a copy in Drive** option. A duplicate copy will get created. It will open up in the new tab on your web browser.

  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/1_create_colab_duplicate_copy.png' width=500>

3. After creating the duplicate copy of the notebook, please rename it in the **YYYY-MM-DD_StudentName_Project2** format.

4. Now, write your code in the prescribed code cells.

---

#### Activity 1: Print Even Numbers from 60 - 100

Here you need to print all the even numbers from 60 - 100 (including both 60 and 100) using `while` loop.

Follow the steps given below to achieve the desired result:

- **Step 1**: Store the starting number i.e. `60` in a variable `num`.

- **Step 2**: Define the condition for `while` loop. This loop must be executed till the value stored in variable `num` is less than or equal to `100`.

- **Step 3**: Inside a `while` loop, first print the value stored in `num`, then increment the value of `num` by `2` to print the next even number.

In [ ]:
# Print Even numbers from 60 - 100

---

#### Activity 2: Add Natural Numbers upto `n`

Here you need to print the sum of natural numbers upto a limit `n` using a `while` loop.  

Suppose `n` is any number taken from a user in a range between 10 - 20. You need to print the sum of natural numbers till `n`.

For example: if `n = 10`, then `result` = 1 + 2 + 3 +
….. 9 + 10, i.e. 55.

If the user enters a number which is not in the range of 10 to 20, then force the user to enter a number between 10 to 20.

Follow the steps given below to achieve the desired result:

  - **Step 1**: Ask the user to enter a number between 10 - 20 and store it in a variable `n`.

  - **Step 2**: Convert the data type of user input to integer and store it in a variable `user_input`.

  - **Step 3**: Check whether the user has entered a number in a range between 10 - 20 using a `while` loop and logical `or` operator.
  
  The `or` operator returns `True` if any one or both the conditions are True. For example: 5 < 4 **or** 5 < 6 → Returns `True` as 5 < 6 is `True`.
  
  Here, we will use `or` operator to check whether the user input is less than 10 **OR** greater than 20. If it is, then repeat Step 1 and Step 2 unless the user enters a number only between 10 - 20.
    
   

  - **Step 4**: Initialize two variables:

    1. `result` = 0 (To store the sum of natural numbers)
    
    2. `count` = 1 (To make sure the `while` loop is executed upto `n`)

  - **Step 5**: Calculate the sum of natural numbers in a `while` loop and store it in `result` variable. Increment the value of count each time the loop is executed.

  - **Step 6**: Print the result. (Print the value of `result` variable)

In [ ]:
# Print the sum of natural numbers upto n
# Step 1: Get the input from user to enter a number between 10 - 20 and store it in a variable 'n'


# Step 2: Convert the data type of user input to integer and store it in a variable 'user_input'


# Step 3: Check whether the user has entered a number in a range between 10 - 20 using a while loop.



# Step 4: Initialize two variables 'result = 0' and 'count = 1'


# Step 5: Calculate the sum of the natural numbers till n using a while loop and store it in 'result' variable.
# Increment the value of 'count'


# Step 6 : Print the result

---

#### Activity 3: Print Multiples of a Number

Here you need to print the first 10 multiples of any number using a `while` loop.

You should get the number as an input from the user.

For example: if the user enters `2` then the first 10 multiples of `2` are 2, 4, 6, 8, 10, 12, 14, 16, 18 and 20.

Follow the steps given below to achieve the desired result:

  - **Step 1**: Ask the user to enter a number between 10 - 20 and store it in a variable `user_input`.

  - **Step 2**: Convert the data type of user input to integer and store it in a variable `num`.

  - **Step 3**: Initialize two variables

    1. `multiple` = `num` (multiple of a number always starts with the number itself).
    
    2. `count` = 1 (This variable is used to make sure that the `while` loop is executed only upto 10, starting from 1).

  - **Step 4** : Create a `while` loop. In the `while` loop, print `num` and then calculate the multiple of the number by adding the value stored in `num` and `multiple` variables and store it in variable `num`. Increment the value of `count` each time the loop is executed.

In [ ]:
# Print the first 10 multiples of a number
# Step 1 : Get the input from user to enter a number between 10 - 20 and store it in variable 'user_input'


# Step 2 : Convert the data type of user input to integer and store it in a variable 'num'


# Step 3 :  Initialize two variables 'multiple' and 'count'


# Step 4 - while loop will repeat itself as long as count <= 10 remains True

---

### Submitting the Project:

1. After finishing the project, click on the **Share** button on the top right corner of the notebook. A new dialog box will appear.

  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/2_share_button.png' width=500>

2. In the dialog box, make sure that '**Anyone on the Internet with this link can view**' option is selected and then click on the **Copy link** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/3_copy_link.png' width=500>

3. The link of the duplicate copy (named as **YYYY-MM-DD_StudentName_Project2**) of the notebook will get copied

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/4_copy_link_confirmation.png' width=500>

4. Go to your dashboard and click on the **My Projects** option.
   
   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/5_student_dashboard.png' width=800>

  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/6_my_projects.png' width=800>

5. Click on the **View Project** button for the project you want to submit.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/7_view_project.png' width=800>

6. Click on the **Submit Project Here** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/8_submit_project.png' width=800>

7. Paste the link to the project file named as **YYYY-MM-DD_StudentName_Project2** in the URL box and then click on the **Submit** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/9_enter_project_url.png' width=800>

---